<div class="full">
  <div class="btn-group mr-3">

    <div ngbDropdown class="btn-group" ngbDropdown role="group">
      <button class="btn btn-primary" id="participants" ngbDropdownToggle>Participants</button>
      <div ngbDropdownMenu aria-labelledby="participants">
        <button class="dropdown-item" routerLink="/home/add">Add</button>
        <button class="dropdown-item" routerLink="/home/list">View</button>
      </div>
    </div>
    <div ngbDropdown class="btn-group" ngbDropdown role="group">
      <button class="btn btn-primary" id="results" ngbDropdownToggle>Results</button>
      <div ngbDropdownMenu aria-labelledby="results">
        <button class="dropdown-item" routerLink="/home/radd">Add</button>
        <a class="btn dropdown-item" target="_blank" [href]="downloadUrl">Results</a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>